DB_NAME=
DB_PASS=
DB_HOST=
DB_PORT=
DB_USER=
MODE= #"prod" или "test"

ALGORITHM=
SECRET_KEY=

REDIS_HOST=
REDIS_PORT=

MNEMONIC= "word word word word word word word word word word word word" #12 words
TRON_API_KEY=

ENCRYPTION_KEY=your_32_character_base64_encoded_key_here # ключ 32 байта